div.Title {!= settings.title !}
ul
  {! for (var i = 0; i < data.length; i++) { !}
  li {!= data[i].output !}
    span.time {!= new Date(data[i].timestamp).toString(settings.ui.dateFormat) !}
  {! } !}
