- pageTitle = subdomain +" | Loggly Dashboard"
- stylesheets.push("/ui/stylesheets/dashboard.css")
- scripts.push("/ui/scripts/external/date.js")
- scripts.push("/ui/scripts/widgets/list.js")
- scripts.push("/ui/scripts/widgets/bar.js")
- scripts.push("https://www.google.com/jsapi")
- scripts.push("/ui/scripts/dashboard.js")
.Header
  h1 Loggly Dashboard: #{ subdomain }
div#widgets
script
  var subdomain = "#{ subdomain }";
  var widgets = !{JSON.stringify(widgets)};
script#ListWidgetTemplate(type="text/template")
  != partial("partials/widgets/list.jade")
script#BarWidgetTemplate(type="text/template")
  != partial("partials/widgets/bar.jade")

