@import "reset"

html
  background #fff
  height 100%

body 
  color #333
  font-family verdana, sans-serif
  font-size 14px

ul 
  margin-left 20px

.Header
  background #900000
  color #fff
  padding 10px
