.Widget
  margin 20px
  padding 10px
  float left
  width 400px
  border-radius 5px
  box-shadow: 0px 0px 5px #ccc;

  .Title
    color #900000
    border-bottom 1px solid #ccc
    padding-bottom 5px
    margin-bottom 10px


.Widget.list
  ul
    margin 5px 
  li
    list-style none
    margin 5px 0
    padding 2px 0
    border-bottom 1px solid #ccc
  .time
    float right
    color #ccc
    font-size 11px
    margin-top 4px
