/*--------------------------------------------
Global Common (for FF3, Safari 3, Chrome 1)

version:     5.0
author:      eHow UI Team (Greg Allen, Corey Hinds, Alex Lea, Chris Newton, Troy Whiteley)
website:     http://www.ehow.com/ http://www.ehow.co.uk
--------------------------------------------*/

/* =Reset 
--------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, figure, pre, a, abbr, button, address, cite, code, del, dfn, img, ins, kbd, q, samp, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, section, aside, footer
    margin 0
    padding 0
    border 0
    outline 0
    font-weight inherit
    font-style inherit
    font-size 100%
    font-family inherit
    vertical-align baseline

:-moz-any-link:focus, input:focus, textarea:focus, a, a:active, a:focus  
  outline none 

header, nav, article, section, figure, aside, footer  
  display block 

a  
  cursor pointer 
  img  
    border none 

button  
  cursor pointer 
  background-color transparent 

p  
  margin 10px 0 

h1, h2, h3, h4, h5, h6  
  font-weight normal   
table  
  border-collapse collapse 
th  
  text-align left 
  font-weight normal 
ol  
  margin-left 25px 

/* =Float Container */
.FLC  
  clear both
.FLC:after  
  content "." 
  display block
  height 0
  clear both
  visibility hidden
 

/* =Debug Classes - used to help debug missing or broken elements */
.Debug1  
  border 1px solid red 
  background-color red 
.Debug2  
  border 1px solid green
  background-color green 
